.cgb{
   color: green;
   font-weight: 600;
}
.i{
   font-style: italic;   
   color:dimgray;
}
.b{
   font-weight: 700;
}
.code{
   background:darkgrey;
   border-radius: 5px;
   padding: 5px;
   font-style: italic;
   color: aliceblue;
}