$palette_1-color_1: #1B262C;
$palette_1-color_2: #232931;
$palette_1-color_3: #393E46;
$palette_1-color_4: #4ECCA3;
$palette_1-color_5: #EEEEEE;

$palette_2-color_1: #769FCD;
$palette_2-color_2: #B9D7EA;
$palette_2-color_3: #D6E6F2;
$palette_2-color_4: #590D82;
//$palette_2-color_5: yellow;
$palette_2-color_5: #000;
